{
    log {
        output file /etc/caddy/logs/latest.log
        format console
        level DEBUG
    }
}

yourspotify.visard.me {
        reverse_proxy 10.13.13.2:8080 {
        header_up X-Target-Service yourspotify
        transport http {
            # might be unnecessary
            versions 1.1
        }
    }
    tls {
        dns ovh {
            endpoint ovh-ca
            application_key {env.OVH_APPLICATION_KEY}
            application_secret {env.OVH_APPLICATION_SECRET}
            consumer_key {env.OVH_CONSUMER_KEY}
        }
    }
}
