{
    log {
        output file /logs/latest.log {
            roll_size 10MiB
        }
        format console
        level INFO
    }
}

tv.{$DOMAIN_NAME} {
    reverse_proxy 10.13.13.2:8080 {
        header_up X-Target-Service tv
    }

    log {
        output file /etc/caddy/logs/tv.log {
			roll_size 10MiB
		}
        format console
        level DEBUG
    }
}
